{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>N°</th>
            <th>Nom</th>
            <th>Date de Création</th>
            <th>Status</th>
            <th>Total</th>
            <th>Modification</th>
        </tr>
        </thead>
        <tbody>

        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.users | first }}</td>
                <td>{{ order.dateCreated ? order.dateCreated|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ order.status }}</td>
                <td>
                    {{ total[loop.index0] |number_format(2) }}€
                </td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Nouvelle commande</a>
    <br><br>
    <button>
        <a href="{{ url('app_logout')}}">DECONNEXION</a>
    </button>
{% endblock %}
